/* General */
:root {
  ---color-primary: #1b72e8;
  ---color-primary-medium: #165bba;
  ---color-primary-dark: #13293f;
  ---color-primary-extra-dark: #051e34;
  ---color-secondary: #f8f9fa;
  ---color-secondary-dark: #e5e5e5;
  ---color-white: #fff;
  ---color-alert: #ff8f00;

  ---text-color-medium: #5b5858;

  ---font-family: "Roboto", sans-serif;
}

body {
  font-family: var(---font-family);
  font-size: 0.8rem;
}

h1,
.students_number {
  font-size: 1.5rem;
  display: inline-block;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

/* Utilities */
.debug {
  background-color: rgba(50, 205, 50, 0.5);
  border: 1px solid gray;
}

/* Header */
header {
  height: 70px;
  background-color: var(---color-secondary);
}

header .header_wrapper {
  background-color: var(---color-white);
  height: 50px;
  padding: 0 12px;
}

.search_box,
.search_box input {
  background-color: var(---color-secondary-dark);
  height: 40px;
}

.search_box input {
  width: 90%;
  font-size: 0.7rem;
}

.search_box input::placeholder {
  color: var(---text-color-medium);
}

header nav li i {
  color: var(---text-color-medium);
}

.alert_bell {
  color: var(---color-alert);
}

/* Main */
main {
  height: calc(100% - 70px);
}

/* Aside */
aside {
  width: 65px;
  padding: 32px 0px;
  background-image: url(../img/sidebar-bg.png);
  background-color: var(---color-primary-dark);
  /* background: linear-gradient(
    45deg,
    var(---color-primary-dark) 65%,
    var(---color-primary-extra-dark) 65%
  ); Note: not necessary, as there is a background image given*/
}

aside nav li i {
  width: 12px;
}

/* Upper dashboard */
.upper_dashboard {
  background-color: var(---color-primary);
}

.upper_dashboard .offcanvas_width {
  width: 100%;
}

.my_badge {
  background-color: var(---color-primary-medium);
  font-weight: 400;
}

/* Lower dashboard */
.lower_dashboard {
  background-color: var(---color-secondary);
}

/* Next classes */
.lower_dashboard .container-fluid {
  width: 95%;
}

.lower_dashboard #next_classes .row {
  border-bottom: 1px solid var(---color-secondary-dark);
  padding: 8px 0;
}

.lower_dashboard #next_classes .row .col {
  min-width: 100px;
}

.lower_dashboard #faq button {
  font-size: 0.8rem;
}

.lower_dashboard #todo ul,
.lower_dashboard #stats ul {
  border: 1px solid var(---color-secondary-dark);
}

.my_avatar {
  height: 30px;
}

.my_btn {
  padding: 8px;
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  margin: 0 2.5px;
}

/* --------- Media -----------
------------ query ---------*/
@media screen and (min-width: 1200px) {
  aside {
    width: 150px;
  }

  .upper_dashboard .offcanvas_width {
    width: 50%;
  }
}
